body {
    font: 100% "Poiret One", cursive;
    color: #555;
}

/* Text */
.text-muted {
    color: #bbb;
}

/* Title */
.title-super {
    font-size: 48px;
}

.title-logo {
    margin-top: 10px;
    margin-left: 10px;
}
